<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='teddy.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
    <meta charset="UTF-8">
    <!-- This might need to change based on how flask gets static files-->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Song Analyzer</title>
</head>
<body>
    <h1>SONG ANALYZER</h1>
    <div id = "container">
        <input type="text" id="text" size="40">
        <button id="submit-data">Go</button>
    </div>

    <div id="display"></div>

</body>
</html>